<h1>URL Shortener</h1>

<input id="url-field" type="text" class="form-control" placeholder="Paste a link...">
  <span class="input-group-btn">
    <button class="btn btn-shorten" type="button">SHORTEN</button>
  </span>


<div id="link"></div>

<!--

<h2>these are the URLs</h2>

{{#each urls as |url index|}} -->
<!-- can't do logic inside handlebars in express-->
<!-- <p>{{index}} {{url.url}}</p>
{{/each}} -->
