<h1>URL Shortener</h1>

<input id="url-field" type="text" class="form-control" placeholder="Paste a link...">
  <span class="input-group-btn">
    <button class="btn btn-shorten" type="button">SHORTEN</button>
  </span>


<div id="link"></div>
